<mat-card class="form-card" style="text-align: left; max-width: 100%; height: auto; margin: auto;">
    <mat-card-header>
        <mat-card-title>Product Details</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="form" autocomplete="off" class="form-container">
            <!-- First & Last Name Row -->
            <div class="form-row">
                <div class="field-group">
                    <label for="productName" class="form-label">Email Id</label>
                    <input id="productName" type="text" formControlName="productName" class="form-input" />
                </div>

                <div class="field-group">
                    <label for="productCompany" class="form-label">Current Password</label>
                    <input id="productCompany" type="text" formControlName="productCompany" class="form-input" />
                </div>
            </div>

            <div class="form-row">
                <div class="field-group">
                    <label for="maximumRetailPrice" class="form-label">New Password</label>
                    <input id="maximumRetailPrice" type="text" formControlName="maximumRetailPrice"
                        class="form-input" />
                </div>

                <div class="field-group">
                    <label for="purchasePrice" class="form-label">Confirm Password</label>
                    <input id="purchasePrice" type="text" formControlName="purchasePrice" class="form-input" />
                </div>
            </div>

            <!-- Gender Row -->
            <!-- <div class="form-row">
                <div class="field-group">
                    <label for="gender" class="form-label">Gender</label>
                    <mat-select id="gender" appearance="outline" formControlName="gender" class="form-input">
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>
                        <mat-option value="other">Other</mat-option>
                    </mat-select>
                </div>
            </div> -->
        </form>
    </mat-card-content>
    <mat-card-actions style="padding: 5px; display: flex; justify-content: flex-end; gap: 10px;">
       
        <button mat-raised-button class="btn-clear" (click)="onSubmit()">
            <mat-icon>clear</mat-icon>
            Clear</button>
        <button mat-raised-button class="btn-submit" (click)="onSubmit()">
            <mat-icon>save</mat-icon>Change Password</button>
    </mat-card-actions>
</mat-card>