.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 16px;
  background-color: #f5f5f5;
}

mat-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  padding: 24px;
  background: white;
  box-sizing: border-box;
  text-align: left;
  border-left-color: green;
  border-top-color: green;
  border-right-color: red;
  border-bottom-color: red;
}

.mat-mdc-card-header {
  text-align: center;
}

.form-container {
  width: 100%;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.field-group {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 4px;
  font-size: 14px;
}

.form-input {
  font-size: 14px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}





.form-input:focus {
  border-top-color: green;
  border-bottom-color: red;
  border-left-color: green;
  border-right-color: red;
}

.btn-submit.mat-raised-button,
.btn-submit.mat-mdc-raised-button {
  background-color: #4caf50 !important;
  color: white !important;
  box-shadow: none !important;
  width: 100%;
}

/* Two columns on tablets/desktops */
@media (min-width: 768px) {
  .field-group {
    flex: 1 1 45%;
    flex-direction: row;
    align-items: center;
  }

  .form-label {
    flex: 0 0 120px;
    margin-bottom: 0;
    padding-top: 6px;
  }

  .form-input {
    flex: 1;
  }

  .btn-submit {
    width: 40%;
  }
}

.error-icon {
  position: absolute;
  right: 8px;
  top: 38px; /* adjust as needed */
  color: red; /* make icon red */
  font-size: 20px;
  pointer-events: none;
}